nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo{
  width: 250px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
nav ul li ::after{
  content: '';
  height: 3px;
  width: 0;
  background: #960000;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s;
}
nav ul li :hover::after{
  width: 100%;
}
nav ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(P&V/wp8387032.webp);
    background-size: cover;
    background-position: 0px -90px;
    background-repeat: no-repeat;
}
html,body{
  height: 80%;
  display: grid;
  place-items: center;
  text-align: center;
}
.container1{
  padding: 0px 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: rgb(96, 125, 135);
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
/*Expand card to show text and button*/
.card:hover{
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.card .img{
  height: 200px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #8e0e00;
  line-height: 20px;
}
.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: rgb(96, 125, 135);
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text{
  text-align: justify;
}
.card .bottom-text .btn{
  margin: 10px 0;
  text-align: center;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .container1{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card{
    max-width: 700px;
    margin: 20px 0;
  }
}